@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f1f1f1;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@keyframes spinSlow {
  0%   { transform: rotate(0deg);   }
  100% { transform: rotate(360deg); }
}

.animate-spinSlow {
  animation: spinSlow 1.6s linear infinite;
}

#_rht_toaster {
  display: none !important;
}

html, body {
  overflow-x: hidden;
}
